.vscode/**
.vscode-test/**
.github/**
.agents/**
.opencode/**
src/**
.gitignore
.yarnrc
opencode.json
skills-lock.json
TELEMETRY-SPEC.md
package-lock.json
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
*.vsix
cookies.txt
KIRO/**
